version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: my-links-redis
    restart: unless-stopped
    networks:
      - app-network
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes

  web:
    build: .
    container_name: my-links-page
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD:-}
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - redis
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

